<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>resumeServlet</servlet-name>
        <servlet-class>ru.javawebinar.webapp.web.ResumeServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeServlet</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>resumeList</servlet-name>
        <jsp-file>/WEB-INF/jsp/list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeList</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/list.jsp</welcome-file>
    </welcome-file-list>
</web-app>
